# Prerequisites
*.d

# Preprocessed files
*.i

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

**/add
**/constant
**/hello
**/histogram
**/image
**/julia
**/matmul
**/matmul_tiled
**/matmul_tiled_coarsened
**/reduction
**/saxpy
**/saxpy_dynamic
**/shared
**/stencil
**/transpose
**/transpose_tiled

examples/hip/*.diff

compile_commands.json
